.div-container-projects {
  height: 35vh;
  max-height: 35vh;
  overflow: auto;
}

.div-container-projects table {
  width: 100%;
}

.main {
  display: flex;
  height: 100%;
}

.panel {
  position: relative;
  z-index: 100;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-background-secondary);
}

#left-panel {
  width: 20vw;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#left-panel .navbar {
  margin: 0.5rem;
}

#right-panel {
  width: fit-content;
  max-width: 40vw;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

#left-panel-collapse-btn {
  position: absolute;
  z-index: 99;
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  left: 20vw;
  transform: translateX(-30%);
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: var(--color-background-secondary);
  border: solid 1px var(--color-text-primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#left-panel-collapse-btn.collapsed {
  left: 0;
}

#central-canvas {
  position: relative;
  flex: 1;
  align-content: center;
  text-align: center;
}

#mode-switch-selector {
  position: absolute;
  z-index: 10;
  left: 2rem;
  top: 1rem;
  width: 15rem;
  height: 2rem;
}