/*!
 * Copyright 2021 VariaMos PLE. 
 */

:root {
  --primary-color: #428dcf;
  --primary-color-text: #ffffff;
  --primary-color-constrast: #22486a;
  --primary-color-constrast-text: #ffffff;
}

/* btn-darkVariamos
---------------------------- */
.btn-Variamos {
  color: #ffff;
  background-color: #428dcf;
  border-color: #428dcf;
}
.btn-Variamos:focus {
  color: #ffff;
  background-color: #22486a;
  border-color: #22486a;
}
.btn-Variamos:hover {
  color: #ffff;
  background-color: #22486a;
  border-color: #22486a;
}
.btn-Variamos:active {
  color: #ffff;
  background-color: #22486a;
  border-color: #22486a;
}

/* btn-darkVariamos
---------------------------- */
.btn-darkVariamos {
  color: #ffff;
  background-color: #6faadd;
  border-color: #428dcf;
}
.btn-darkVariamos:focus {
  color: #ffff;
  background-color: #428dcf;
  border-color: #22486a;
}
.btn-darkVariamos:hover {
  color: #ffff;
  background-color: #428dcf;
  border-color: #22486a;
}
.btn-darkVariamos:active {
  color: #ffff;
  background-color: #428dcf;
  border-color: #22486a;
}

/* bg-variamos blue light dark
---------------------------- */

.bg-blue-Variamos {
  background-color: #428dcf;
}

.bg-lightblue-Variamos {
  background-color: #b8daed3b;
}

.bg-darkblue-Variamos {
  background-color: #22486a;
}

.bg-white-Variamos {
  background-color: #e0e0e01c;
}

.border-title-lighblue-variamos {
  border-bottom: 5px solid #8ab5c7;
  border-right: 5px solid #8ab5c769;
}
.border-title-darkblue-variamos {
  border-bottom: 5px solid #22486a;
  border-right: 5px solid #22486a;
}

.list-group-item.active {
  color: white;
  background-color: #428dcf !important;
  border-color: #8ab5c7;
  border-bottom: 5px solid #22486a;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.outer {
  top: 30%;
  left: 40%;
}
ul {
  list-style: none;
}
#ul {
  margin: 0;
  padding: 0;
}
.fa-plus-square,
.nested {
  cursor: pointer;
  user-select: none;
}
.fa-plus-square::before {
  display: inline-block;
  margin-right: 5px;
}

.nested {
  display: none;
}
.active {
  display: block;
}

#hiddenProject {
  cursor: pointer;
  user-select: none;
}

.p-1 {
  padding: 0.1rem !important;
}

.fa-plus-square {
  color: var(--primary-color);
  cursor: pointer;
}

.fa-minus-square:active {
  background-color: #b8daed3b;
}

.fa-plus-square:active {
  background-color: #b8daed3b;
}

.nav-bar-variamos,
a {
  text-decoration: none !important;
  color: white;
  background-color: transparent !important;
  border: none;
  padding-top: 5px;
  cursor: pointer;
}

.nav-bar-variamos:active {
  color: white !important;
  text-decoration: none;
  background-color: #22486a !important;
  border-color: #22486a;
}
.nav-bar-variamos:hover {
  color: white !important;
  text-decoration: none;
  background-color: #22486a !important;
  border-color: #22486a;
}

a:hover {
  text-decoration: none;
  color: white;
}

.distribution-variamos {
  padding: 0.05em;
  border: none;
}

.card {
  border: 1px rgba(0, 0, 0, 0.125);
}

.card-header {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.background-variamos {
  background-color: #428dcf;
  color: white;
}

.dropdown-item:active {
  background-color: #428dcf;
  color: white;
}

@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }

  .submenu {
    margin-left: 158px;
    margin-top: -40px;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 30px;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

.modalTreeMenu-left-variamos {
  margin-left: 5%;
  margin-top: 10%;
}

.hidden {
  display: none;
}

.ajs-error {
  color: #ffff !important;
  /* background-color: #428dcf !important; */
  /* border-color: #428dcf !important; */
  border-bottom: 1px !important;
  box-shadow: 2px 2px 6px var(--primary-color-constrast);
}

.form-floating label {
  color: grey !important;
}

.list-inline {
  margin-bottom: 0px !important;
}

.projectName {
  color: var(--primary-color);
}
