/*!
 * Copyright 2021 VariaMos PLE. 
 */

/* btn-darkVariamos
---------------------------- */
.btn-Variamos {
  color: #ffff;
  background-color: #428dcf;
  border-color: #428dcf;
}
.btn-Variamos:focus {
  color: #ffff;
  background-color: #22486a;
  border-color: #22486a;
}
.btn-Variamos:hover {
  color: #ffff;
  background-color: #22486a;
  border-color: #22486a;
}
.btn-Variamos:active {
  color: #ffff;
  background-color: #22486a;
  border-color: #22486a;
}

/* btn-darkVariamos
---------------------------- */
.btn-darkVariamos {
  color: #ffff;
  background-color: #6faadd;
  border-color: #428dcf;
}
.btn-darkVariamos:focus {
  color: #ffff;
  background-color: #428dcf;
  border-color: #22486a;
}
.btn-darkVariamos:hover {
  color: #ffff;
  background-color: #428dcf;
  border-color: #22486a;
}
.btn-darkVariamos:active {
  color: #ffff;
  background-color: #428dcf;
  border-color: #22486a;
}

/* btn-lightVariamos
---------------------------- */
.btn-lightVariamos {
  color: #000;
  background-color: #b8daed3b;
  border-color: #6c8b99;
}
.btn-lightVariamos:focus {
  color: #ffff;
  background-color: #8ab5c7;
  border-color: #6c8b99;
}
.btn-lightVariamos:hover {
  color: #ffff;
  background-color: #8ab5c7;
  border-color: #6c8b99;
}
.btn-lightVariamos:active {
  color: #ffff;
  background-color: #8ab5c7;
  border-color: #6c8b99;
}

/* bg-variamos blue light dark
---------------------------- */

.bg-blue-Variamos {
  background-color: #428dcf;
}

.bg-lightblue-Variamos {
  background-color: #b8daed3b;
}

.bg-darkblue-Variamos {
  background-color: #22486a;
}

.bg-white-Variamos {
  background-color: #e0e0e01c;
}

.border-title-lighblue-variamos {
  border-bottom: 5px solid #8ab5c7;
  border-right: 5px solid #8ab5c769;
}
.border-title-darkblue-variamos {
  border-bottom: 5px solid #22486a;
  border-right: 5px solid #22486a;
}

.list-group-item.active {
  color: white;
  background-color: #428dcf;
  border-color: #8ab5c7;
  border-bottom: 5px solid #22486a;
  /* border-right: 5px solid #8ab5c769; */
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.outer {
  top: 30%;
  left: 40%;
}
ul {
  list-style: none;
}
#ul {
  margin: 0;
  padding: 0;
}
.fa-plus-square,
.nested {
  cursor: pointer;
  user-select: none;
}
.fa-plus-square::before {
  display: inline-block;
  margin-right: 5px;
}

.nested {
  display: none;
}
.active {
  display: block;
}

#hiddenProject {
  cursor: pointer;
  user-select: none;
}

.p-1 {
  padding: 0.1rem !important;
}

.fa-plus-square {
  color: #428dcf;
  cursor: pointer;
}

.fa-minus-square:active {
  background-color: #b8daed3b;
}

.fa-plus-square:active {
  background-color: #b8daed3b;
}

.nav-bar-variamos {
  text-decoration: none;
  color: #428dcf;
  background-color: white;
  border: none;
  padding-right: 15px;
}

.nav-bar-variamos:hover {
  text-decoration: none;
  color: #22486a;
  border: none;
  font-size: 120%;
}

.distribution-variamos {
  padding: 0.05em;
  border: none;
}

.card {
  border: 1px rgba(0, 0, 0, 0.125);
}

.card-header {
  background-color: #428dcf;
  color: white;
}

.dropdown-item:active {
  background-color: #428dcf;
  color: white;
}

@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }

  .submenu {
    margin-left: 158px;
    margin-top: -40px;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 30px;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
