.MxPalette {
  overflow: auto; 
} 

.MxPaletteContainter img {
  height: 32px;
  max-height: 32px;
} 

.MxPaletteContainter {
  text-align: center; 
  display:grid;
} 

.list-inline-item {
  padding-bottom: 0.5rem;  
  text-align: center;  
}