/* Tree menu
---------------------------- */

@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }

  .submenu {
    margin-left: 158px;
    margin-top: -40px;
  }
}

@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 30px;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

.modalTreeMenu-left-variamos {
  margin-left: 5%;
  margin-top: 10%;
}

.modalQuery-center-variamos {
  margin-left: 45%;
  margin-top: 7%; 
}

.hidden {
   display: none; 
}


.treeMenu{
   /* border: solid 1px blue;  */
}
/* ---------------------------- */
