.TreeExplorer img{
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  /* filter: grayscale(1);
  display: none; */
}

.TreeExplorer li span{
  white-space: nowrap;
}

.TreeExplorer .treeView{
  /* border: solid 1px red; */
  overflow: auto;
}

/* Animación para el indicador de sincronización */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}