.ElementsPannel {
  height: 100%;
  width: 10rem;
}

.ElementsPannel img {
  height: 2rem;
}

.ElementsPannel .mxPaletteContainer {
  overflow: auto;
  padding-top: 1rem;
  flex-grow: 1;
  overflow-y: auto;
}
