/* Properties menu
---------------------------- */

@media all and (min-width: 992px) {
  #properties-menu {
    top: inherit !important;
    left: auto !important;
    right: auto !important;
  }

  .dropdown-menu li {
    position:absolute;
  }

  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

@media (max-width: 991px) {
  .dropdown-menu #properties-menu {
    /* margin-left: 30px; */
  }
}

.row {
  padding-bottom:0.5rem !important ;
}
/* ---------------------------- */