.GraphContainer {
    overflow-block: scroll;
    overflow-x: scroll;
    overflow-y: auto;
    height: 75vh;
    /* background: url("../../Infraestructure/Images/grid.gif"); */
    cursor: default;
    padding-right: 0px;
    padding-left: 0px;
  }